{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="text-center">
        <h1>Edit post</h1>
        {% for cat, msg in get_flashed_messages(True) %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
        </ul>
        {%endfor %}
        {% from "_render_field.html" import render_field %}
        <form action="{{url_for('post_bp.edit_post', id=post.id)}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ render_field(form.post_title) }}
            {{ render_field(form.post_body) }}
            <p>{{ form.submit(class='btn btn-primary') }}
            <a class="btn btn-danger" href="{{url_for('post_bp.delete_post', id=post.id)}}">Delete</a></p>
        </form>

    </div>
</div>
{% endblock %}
